<footer class="fixed-bottom">
        <p>Copyright 2021(C) enhp. All Rights Reserved.</p>
        <h6 class="mt-2 mb-3">Link</h6>
        <ul class="p-0 list-unstyled">
          <li>
            <a href="" title="License informations" class="text-dark-50">プライバシーポリシー</a>
          </li>
          <li>
            <%=  link_to '問い合わせ', new_contact_path %>
          </li>
        </ul>
</footer>