<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-2">
      <div class="item-categories">
        <h5>
          カテゴリー一覧
        </h5>
        <%= link_to  top_posts_path, class: "category-button", id: 'categoBtn' do %>
          カテゴリーから探す
        <% end %>
        <div id="tree_menu">
          <ul class="categoryTree">
            <% @parents.each do |parent| %>
              <li class="category_parent">
                <%= link_to search_post_path(parent), 'data-turbolinks': false do %>
                  <input type="button" value="<%= parent.name %>" name="<%= parent.id %>" class="parent_btn">
                <% end %>
              </li>
            <% end %>
          </ul>
          <ul class="categoryTree-child">
          </ul>
          <ul class="categoryTree-grandchild">
          </ul>
        </div>
      </div>
    </div>
    <div class="col-9">

    </div>
  </div>
</div>