<div class="home-content wrapper home">
</div>
<div class="wrapper">
  <h2 class="top-content page-title">オープンイノベーション</h2>
  <p class="page-title-p">アイデア、サービス、ノウハウ、データ、知識<br>
    革新的なビジネスモデル、研究成果、製品開発、サービス開発、組織改革、行政改革、地域活性化<br>
    ソーシャルイノベーション、国際化、プロセス改善等につなげよう！
  </p>
</div>
<div class="wrapper">
<% @categories.each do |category| %>
<
<% end %>
</div>
