<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col">
      <div class="page-header">
        <h3>マイカレンダー</h3>
        </div>
          <%= link_to 'スケジュール登録', new_event_path, class: 'btn btn-success' %>
          <div id="calendar">
          </div>
        </div>
  </div>
</div>

