// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
}

.home {
  background-image: image-url("top.jpg");
  min-height: 60vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.top-content {
  text-align: center;

}
.page-title {
  text-transform: uppercase;
  position: center;
  font-size: 2rem;
  font-family: "philsopher", serif;
  text-transform: uppercase;
  font-weight: bolder;
  color: rgb(0, 0, 0);
  text-align: center;
}


// 登録カテゴリー一覧の折り畳み
.panel-default>.panel-heading {
    color: #333;
    background-color: #e5e5e5;
    border-color: #000;
}

#btn_hide {
  display: none;
}

p.header-title {
    font-family: serif;
    display: block;
    margin-top: auto;
    /* margin-left: auto; */
    margin-left: auto;
    padding-top: 8px;
}

@media screen and (max-width: 600px) {
  .home{
    min-height: 25vh;
    background-size: 100%;
  }
  .page-title {
  text-transform: uppercase;
  position: center;
  font-size: 30px;
  font-family: "philsopher", serif;
  text-transform: uppercase;
  font-weight: bolder;
  color: rgb(0, 0, 0);
  }
  .card {
    width: 100%;
  }

  h5 {
    font-size: 14px;
  }
  a {
    font-size: 1rem;
  }
}