// Place all the styles related to the users::users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.grid {
  display: grid;
  gap: 26px;
  grid-templeate-columns: repeat(3, 1fr);
  margint-top: 6%;
  margin-bottom: 50px;
}

